*{
    margin: 0;
    padding: 0;
    background-color: #3CACF5;
    
}
#header{
    max-height: 250px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
#heading{
    padding: 25px;

}
#heading h2{
    color: white;
    font-weight: bolder;
}
#main{
    margin-right: auto;
    padding-left: 25px;
    display: inline-block;
    display: flex;
    word-spacing: 5px;
    justify-content: center;
    align-items: center;
}
#main ul li{
    display: inline;
    list-style: none;
    color: white;
    
}
ul li i{
    padding-left: 4px;
}
#btn1{
    justify-content: end;
    margin-top: 25px;
}
#login{
    padding: 10px 25px;
    border: 2px solid #3CACF5;
    color: black;
    background-color: white;
    border-radius: 10px ;
    
}
#start{
    padding: 10px 15px;
    border: 2px solid white;
    color: white;
    background-color: #3CACF5;
    border-radius: 10px ;
    
}
#content-container{
    display: flex;
    color: white;
}
#right{
    justify-content: space-around;
    align-items: center;
}
